.fill-remaining-space {
  flex: 1 1 auto;
}

.green {
  color: #79d70f;
}

.red {
  color: #d32626;
}

.inAlarm {
  background-color: #d32626;
}

.blink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}
