<!-- Connection Status -->
<div class="row">
  <div class="offset-md-5 col-md-4 mt-3">
    <i *ngIf="!status()" class="fas fa-circle text-center red">&nbsp;&nbsp;DISCONNECTED</i>
    <i *ngIf="status()" class="fas fa-circle text-center green">&nbsp;&nbsp;CONNECTED</i>
  </div>
</div>
<hr>
<!-- Loading animation -->
<app-spiner *ngIf="data === null || data === undefined"></app-spiner>
<!-- Data table -->
<div *ngIf="data !== null && data !== undefined" class="row">
  <div class="offset-md-1 col-md-10">
    <button class="btn btn-lg btn-success mt-3 mb-3" type="button" id="logs" (click)="onLogsClick()" data-toggle="modal" data-target="#logModal">Log</button>
    <br>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Address</th>
          <th>Value</th>
          <th>Raw Value</th>
          <th>Timestamp</th>
          <th colspan="2">Alarm</th>
          <th>Read</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data?.list" [ngClass]="{'inAlarm': item.alarm !== 1 }">
          <td>{{item.name}}</td>
          <td>{{item.type | typePipe}}</td>
          <td>{{item.address}}</td>
          <td>{{item.displayValue}}</td>
          <td>{{item.rawValue}}</td>
          <td>{{item.timestamp | timestampPipe}}</td>
          <td colspan="2">{{item.alarm | alarmPipe}}</td>
          <td><button class="btn btn-sm btn-warning" (click) = "onRead(item)">Read</button></td>
          <td><button [disabled]="isInput(item)" class="btn btn-sm btn-success" (click) = "onCommandPreview(item)" data-toggle="modal" data-target="#commandModal">Command</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Modal Dialogs-->

<!-- Log Modal Dialog -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LogModal">Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-spiner *ngIf="log === null || log === undefined"></app-spiner>
      <div *ngIf="log !== null || log !== undefined">
        <ul  *ngFor="let l of log">
          <li>{{l}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Command Modal Dialog -->
<div class="modal fade" id="commandModal" tabindex="-1" role="dialog" aria-labelledby="CommandModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CommandModal">Command</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-spiner *ngIf="selectedPoint === null || selectedPoint === undefined"></app-spiner>
      <div *ngIf="selectedPoint !== null || selectedPoint !== undefined">
        <form *ngIf="selectedPoint?.configItem.processingType === 'DO'" [formGroup]="commandModel" autocomplete="off">
          <div class="form-group">
            <label for="currentValue">Current Value:</label>
            <input id="currentValue" disabled name="currentValue" formControlName="CurrentValue" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="abnValue">Abnormal Value:</label>
            <input id="abnValue" disabled name="abnValue" formControlName="AbnormalValue" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="value">Value</label>
            <input id="value" name="value" formControlName="Value" type="number" step="1" min="0" max="1" class="form-control" placeholder="Value">
            <label *ngIf="commandModel.get('Value').touched && commandModel.get('Value').errors?.value" for="value" class="text-danger">Value is outside of limits</label>
          </div>
        </form>
        <form *ngIf="selectedPoint?.configItem.processingType === 'AO'" [formGroup]="commandModel" autocomplete="off">
          <div class="form-group">
            <label for="currentValue">Current Value:</label>
            <input id="currentValue" disabled name="currentValue" formControlName="CurrentValue" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="highLimit">High Limit:</label>
            <input id="highLimit" disabled name="highLimit" formControlName="HighLimit" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="lowLimit">Low Limit:</label>
            <input id="lowLimit" disabled name="lowLimit" formControlName="LowLimit" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="value">Value</label>
            <input id="value" name="value" formControlName="Value" type="number" step="1" min="0" class="form-control" placeholder="Value">
            <label *ngIf="commandModel.get('Value').touched && commandModel.get('Value').errors?.value" for="value" class="text-danger">Value is outside of limits</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!isValidCommand()" (click) = "onCommand()" data-dismiss="modal">Command</button>
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
