<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Web&nbsp;SCADA</span>
</nav>
<div class="row">
  <div class="offset-md-5 col-md-4 mt-3">
    <i *ngIf="!status()" class="fas fa-circle text-center red">&nbsp;&nbsp;DISCONNECTED</i>
    <i *ngIf="status()" class="fas fa-circle text-center green">&nbsp;&nbsp;CONNECTED</i>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Address</th>
          <th>Value</th>
          <th>Raw Value</th>
          <th>Timestamp</th>
          <th>Alarm</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data?.list" [ngClass]="{'inAlarm': item.alarm !== 1 }">
          <td>{{item.name}}</td>
          <td>{{item.type | typePipe}}</td>
          <td>{{item.address}}</td>
          <td>{{item.displayValue}}</td>
          <td>{{item.rawValue}}</td>
          <td>{{item.timestamp | timestampPipe}}</td>
          <td>{{item.alarm | alarmPipe}}</td>
          <td><button class="btn btn-success">Command</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
